// Notice shortcode
// 
.notice {
	border-radius: $border__radius;
	border: 2px solid;
	margin: 2em 0 2.8em;
	& + .notice {
		margin-bottom: 2em;
	}
	padding: 1.5em 2em 1.5em 3em;
	@include media-breakpoint-up(xl) {
		padding: 33px 128px 33px 95px;
	};
	&.type {
		&-info, &-success, &-warning, &-error {
			a {
				color: $color__link-hover;
				&:hover {
					color: $color__link;
					text-decoration: underline;
				}
			}
			position: relative;
			&:before {
				@include nucleo-icon();
				position: absolute;
				top: 28px;
				left: 16px;
				@include font-size(1.2);
				@include media-breakpoint-up(xl) {
					top: 40px;
					left: 40px;
					@include font-size(1.75);
				}
			}
		}
		&-success{
			border-color: $color__success;
			background-color: #e6f7fe;
			&:before {
				content: '\ea6a';
				color: $color__success;
			}
		}
		&-warning{
			border-color: $color__warning;
			background-color: #fffbef;
			&:before {
				content: '\ea6a';
				color: $color__warning;
			}
		}
		&-error{
			border-color: $color__error;
			background-color: #fef4f5;
			&:before {
				content: '\ea2a';
				color: $color__error;
			}
		}
		&-info{
			border-color: $color__info;
			background-color: #f0fcf6;
			&:before {
				content: '\ea1f';
				color: $color__info;
			}
		}
	}
}

// Blurbs shortcode
.blurb {
	text-align: center;
	&__title {
		margin: 0 0 10px;
	}
	&__text {
		@include font-size(0.875);
	}
	&-large, &-boxed {
		margin: 1em 0;
		@include media-breakpoint-up(xl) {
			margin: 2em 0;
		}
		.blurb__link {
			padding: 15px 15px 30px;
			border: 1px solid $color__separator;
			border-radius: $border__radius;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-content: stretch;
			align-items: center;
			color: $color__text-main;
			@include transition(all 0.45s ease);
			@include media-breakpoint-up(xl) {
				padding: 13px 15px;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: flex-start;
			}
			&:hover {
				border-color: transparent;
				-webkit-box-shadow: 0 10px 59px 0 rgba(80,106,172,0.15);
				box-shadow: 0 10px 59px 0 rgba(80,106,172,0.15);
				@include transition(all 0.32s ease);
				i {
					@include transition(all 0.3s ease);
					&:before {
						-webkit-text-fill-color: transparent;
						color: $color__invert-main;
						background-image: -webkit-linear-gradient(-45deg, $color__invert-main 0%,$color__invert-main 40%,$color__invert-main 57%);
						@include transition(all 0.3s ease);
					}
					&:after {
						opacity: 0.1;
						transform: scale(0.82);
						transition: all 270ms cubic-bezier(0.570, 0.035, 0.000, 0.955);
					}
				}

			}
		}
		i, .blurb_description {
			order: 0;
			flex: 0 1 auto;
			align-self: auto;
		}
		i {
			display: block;
			@include font-size(2.75);
			position: relative;
			width: 108px;
			height: 108px;
			border-radius: 50%;
			margin: 15px;
			transform: scale(1);
			background-size: 200% auto;
			background-image: linear-gradient(to right, $color_gradient_1 0%, $color_gradient_2 51%, $color_gradient_1 100%);
			@include media-breakpoint-up(lg) {
				margin: 25px 29px 25px 25px;
			}
			text-align: center;
			@include transition(all 0.3s ease);
			&:before {
				line-height: 108px;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				color: $color_gradient_1;
				background-image: -webkit-linear-gradient(45deg, $color_gradient_1 0%,$color_gradient_1 30%,$color_gradient_2 87%);
				z-index: 2;
				@include transition(all 0.3s ease);
			}
			&:after {
				position: absolute;
				opacity: 1;
				content: '';
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				border-radius: 50%;
				transform: scale(0.94);
				background-color: $color__invert-main;
				z-index: -1;
				transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
			}
		}
		.blurb_description {
			text-align: center;
			margin-bottom: 4px;
			@include media-breakpoint-up(xl) {
				text-align: left;
			}
		}
	}
	&-large {
		margin: 1em 0;
		i {
			margin: 12px 29px 11px 10px;
		}
	}
	&-boxed {
		margin: 2em 0;
		text-align: center;
		.blurb__link {
			padding: 45px 15px 30px;
			@include media-breakpoint-up(md) {
				padding: 62px 15px 39px;
			}
			border: 1px solid $color__separator;
			border-radius: $border__radius;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-content: stretch;
			align-items: center;
			color: $color__text-main;
			@include transition(all 0.45s ease);
		}
		img {
			margin-bottom: 32px;
		}
	}
	&-banner {
		@include media-breakpoint-down(md) {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		&.invert .blurb__text {
			color: $color__invert-main;
		}
		.blurb__link {
			padding: 45px 15px 30px;
			@include media-breakpoint-up(md) {
				padding: 43px 15px;
			}
			border-radius: $border__radius;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			justify-content: flex-start;
			align-items: center;
			color: $color__text-main;
			@include transition(all 0.45s ease);
			.blurb__title {
				margin-bottom: 1px;
				@include media-breakpoint-down(md) {
					@include font-size(1.25);
				}
			}
			.blurb__text {
				font-family: $font__main;
				font-weight: 400;
				@include font-size(1);
			}
			.blurb__img {
				max-height: 58px;
				width: auto;
				margin-bottom: 12px;
			}
			i {
				@include font-size(3.75);
				margin-bottom: 17px;
			}
			&:hover {
				color: $color__link-hover;
				border-color: transparent;
				-webkit-box-shadow: 0 10px 59px 0 rgba(80,106,172,0.15);
				box-shadow: 0 10px 59px 0 rgba(80,106,172,0.15);
				@include transition(all 0.32s ease);
				i {
					@include transition(all 0.3s ease);
					&:after {
						opacity: 0.1;
						transform: scale(0.82);
						transition: all 270ms cubic-bezier(0.570, 0.035, 0.000, 0.955);
					}
				}

			}
		}
		text-align: center;
		&.custom-1 {
			.blurb__link {
				overflow: hidden;
				position: relative;
				padding: 45px 15px 30px;
				@include media-breakpoint-up(md) {
					padding: 55px 15px 100px;
				}
				background-color: #243867;
				background: #324f90;
				background: -moz-radial-gradient(center, ellipse cover, #324f90 25%, #243867 100%);
				background: -webkit-radial-gradient(center, ellipse cover, #324f90 25%,#243867 100%);
				background: radial-gradient(ellipse at center, #324f90 25%,#243867 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324f90', endColorstr='#243867',GradientType=1 );
			}
			.blurb__title {
				margin-bottom: 2px;
			}
			.blurb__img {
				margin-bottom: 17px;
			}
			.blurb_products_list {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 17px 0 13px;
				background-color: #a7cb54;
				background: #87b844;
				background: -moz-linear-gradient(left, #87b844 0%, #a7cb54 47%, #87b844 100%);
				background: -webkit-linear-gradient(left, #87b844 0%,#a7cb54 47%,#87b844 100%);
				background: linear-gradient(to right, #87b844 0%,#a7cb54 47%,#87b844 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87b844', endColorstr='#87b844',GradientType=1 );
				&:before {
					content: '';
					top: -7px;
					left: 50%;
					margin-left: -5px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 7px 7px 7px;
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 7px 7px 7px;
					border-color: transparent transparent #a7cb54 transparent;
				}
				i {
					max-width: 12%;
					font-size: 25px;
					margin: 1.5%; 
					@include media-breakpoint-down(lg) {
						max-width: 12%;
						font-size: 22px;
						margin: 0.7%; 
					}
					@include media-breakpoint-down(md) {
						max-width: 12%;
						font-size: 35px;
						margin: 1.5%; 
					}
					@include media-breakpoint-down(xs) {
						max-width: 12%;
						font-size: 22px;
						margin: 0.8%; 
					}
					&:before {
						color: $color__invert-main;
					}
				}
			}
			a {
				//background-image: url("assets/images/bg_banner_tf.png");
				//background-position: center bottom;
			}
		}
		&.custom-2 {
			border: 1px solid $color__separator;
			border-radius: $border__radius;
			.blurb__link {
				overflow: hidden;
				position: relative;
				padding: 45px 15px 30px;
				@include media-breakpoint-up(xl) {
					padding: 42px 55px 43px;
				}
			}
			a {
				background-color: $color__invert-main;
				h4, .blurb__text {
					color: $color__link;
				}
			}
			i {
				margin-left: 20px;
				&:before {
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					color: $color_gradient_1;
					background-image: -webkit-linear-gradient(45deg, $color_gradient_1 0%,$color_gradient_1 30%,$color_gradient_2 87%);
				}
			}
		}
		&.custom-3 {
			a {
				background-color: $color__invert-main;
				background-image: linear-gradient(to right, $color_gradient_1 -10%, $color_gradient_2 100%, $color_gradient_1 100%);
			}
			i {
				color: $color__invert-main;
			}
		}
		a {
			background-color: #3f4f77;
			display: block;
			min-height: 266px;
		}
	}
	&-boxed-main {
		margin: 1.55em 0;
		text-align: center;
		.blurb__link {
			padding: 45px 15px 30px;
			@include media-breakpoint-up(md) {
				padding: 48px 15px 42px;
			}
			border: 1px solid $color__separator;
			border-radius: $border__radius;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-content: stretch;
			align-items: center;
			color: $color__text-main;
			@include transition(all 0.45s ease);
			i {
				margin-bottom: 16px;
				@include font-size(3);
				&:before {
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					color: $color_gradient_1;
					background-size: 200% auto;
					background-image: linear-gradient(to right, $color_gradient_1 0%, $color_gradient_2 51%, $color_gradient_1 100%);
					transition: all 580ms cubic-bezier(0.275, 0.170, 0.145, 0.975);
				}
			}
			&:hover {
				color: $color__link-hover;
				border-color: transparent;
				-webkit-box-shadow: 0 10px 59px 0 rgba(80,106,172,0.15);
				box-shadow: 0 10px 59px 0 rgba(80,106,172,0.15);
				@include transition(all 0.32s ease);
				i {
					@include transition(all 0.3s ease);
					&:before {
						background-size: 200% auto;
						background-position: right center; 
						transition: all 470ms cubic-bezier(0.275, 0.170, 0.145, 0.975);
					}
					&:after {
						opacity: 0.1;
						transform: scale(0.82);
						transition: all 270ms cubic-bezier(0.570, 0.035, 0.000, 0.955);
					}
				}

			}
		}
		img {
			margin-bottom: 32px;
		}
	}
	&-svgicon {
		.blurb {
			&__img {
				width: auto;
				@include media-breakpoint-up(lg) {
					width: 276px;
				}
			}
			&__title {
				margin: 5px 0 12px;
				padding: 0;
				@include media-breakpoint-up(lg) {
					margin: 20px 0 12px;
					padding: 0 25px;
				}
			}
			&__text {
				@include font-size(1);
			}
			&__link {
				padding: 28px 0;
			}
		}
	}
	&-image {
		margin: 1em 0;
		@include media-breakpoint-up(xl) {
			margin: 2em 0;
		}
		.blurb__link {
			padding: 15px 15px 30px;
			border: 1px solid $color__separator;
			border-radius: $border__radius;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-content: stretch;
			align-items: center;
			color: $color__text-main;
			@include transition(all 0.45s ease);
			@include media-breakpoint-up(xl) {
				padding: 13px 15px;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: flex-start;
			}
			&:hover {
				border-color: transparent;
				-webkit-box-shadow: 0 10px 59px 0 rgba(80,106,172,0.15);
				box-shadow: 0 10px 59px 0 rgba(80,106,172,0.15);
				@include transition(all 0.32s ease);
				i {
					@include transition(all 0.3s ease);
					&:before {
						-webkit-text-fill-color: transparent;
						color: $color__invert-main;
						background-image: -webkit-linear-gradient(-45deg, $color__invert-main 0%,$color__invert-main 40%,$color__invert-main 57%);
						@include transition(all 0.3s ease);
					}
					&:after {
						opacity: 0.1;
						transform: scale(0.82);
						transition: all 270ms cubic-bezier(0.570, 0.035, 0.000, 0.955);
					}
				}

			}
		}
	}
	&-boxed-description {
		margin: 2em 0;
		text-align: center;
		.blurb__link {
			margin: 20 15px;
			min-height: 180px;
			@include media-breakpoint-up(md) {
				min-height: 245px;
			}
			border: 1px solid $color__separator;
			border-radius: $border__radius;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-content: stretch;
			align-items: center;
			color: $color__text-main;
			@include transition(all 0.45s ease);
			&:hover {
				border-color: transparent;
				-webkit-box-shadow: 0 10px 59px 0 rgba(80,106,172,0.15);
				box-shadow: 0 10px 59px 0 rgba(80,106,172,0.15);
				@include transition(all 0.32s ease);
			}
		}
		.blurb_description {
			margin: 1.33em 0;
		}
	}
	&-simple {
		margin: 1em 0;
		min-height: 150px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-content: stretch;
		align-items: center;
		@include media-breakpoint-up(md) {
			min-height: 200px;
		}
		&:hover {
			i {
				transform: translateY(-10px);
				transition: all 300ms cubic-bezier(0.360, 0.150, 0.000, 0.920);
				@include media-breakpoint-up(md) {
					transform: translateY(-20px);
				}
			}
			.blurb__link {
				opacity: 1;
				transform: translateY(10px);
				transition: all 320ms cubic-bezier(0.360, 0.150, 0.000, 0.920);
				@include media-breakpoint-up(md) {
					transform: translateY(16px);
				}
			}
			.blurb__title {
				color: $color__link-hover;
				transition: all 300ms cubic-bezier(0.360, 0.150, 0.000, 0.920);
			}
		}
		i, .blurb__title, .blurb__text, .blurb__link {
			order: 0;
			flex: 0 1 auto;
			align-self: auto;
			margin-bottom: 21px;
		}
		.blurb__text, .blurb__link {
			margin: 0;
			color: $color__link;
		}
		.blurb__link {
			@include font-size(0.875);
			display: block;
			opacity: 0;
			text-decoration: underline;
			color: $color__link-hover;
			transition: all 450ms cubic-bezier(0.365, 0.115, 0.000, 0.990);
		}
		.blurb__title {
			color: $color__link;
			margin-bottom: 7px;
			transition: all 450ms cubic-bezier(0.365, 0.115, 0.000, 0.990);
		}
		i {
			@include font-size(2.75);
			text-align: center;
			transition: all 450ms cubic-bezier(0.365, 0.115, 0.000, 0.990);
			&:before {
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				color: $color_gradient_1;
				background-image: -webkit-linear-gradient(45deg, $color_gradient_1 0%,$color_gradient_1 30%,$color_gradient_2 87%);
			}
		}
	}
}
.small_blurbs {
	margin-top: 2em;
	margin-bottom: 2.5em;
	.col-xl-2 {
		@include media-breakpoint-up(xl) {
			flex: 0 0 19.66667%;
			max-width: 19.66667%;
		}
	}
}
// main page blurbs 5 columns
.page-template-main .col-xl-3 {
	@include media-breakpoint-up(xl) {
		flex: 0 0 20%;
		max-width: 20%;
	}
}
.main-footer-banners {
	margin-bottom: 0;
	@include media-breakpoint-up(md) {
		margin-bottom: -239px;
	}
}

// Docs form shortcode
.docs-search.documentation_search {
	max-width: 100%;
	margin: 0 auto;
	@include media-breakpoint-up(md) {
		max-width: 418px;
	}
	h5 {
		font-family: $font__main;
		font-weight: 600;
		@include font-size(1);
		margin-bottom: 5px;
		display: none;
	}
	.docs-search__form {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-around;
		align-items: flex-start;
		@include media-breakpoint-up(md) {
			flex-direction: row;
		}
		input.docs-search__input[type='text'] {
			order: 0;
			width: 100%;
			margin-bottom: 10px;
			background-color: $color__invert-main;
			color: $color__text-main;
			@include media-breakpoint-up(md) {
				width: calc(100% - 114px);
				margin-bottom: 0;
			}
			&.error {
				border-color: $color__error_border_docs;
				background-color: $color__error_bg_docs;
			}
		}
		button.docs-search__submit[type='submit'] {
			order: 2;
			flex: 0 1 auto;
			align-self: center;
			@include media-breakpoint-up(md) {
				order: 0;
				align-self: auto;
			}
			width: inherit;
			$color__invert-main-space: nowrap;
			border: none;
			padding: 14px 36px 16px;
			@include transition(all 0.25s ease);
			.wapu-loader {
				width: 16px;
				height: 16px;
				margin: 0 8px;
				border-top: 3px solid rgba(255,255,255,0.65);
				border-right: 3px solid rgba(255,255,255,0.65);
				border-bottom: 3px solid rgba(255,255,255,0.65);
				border-left: 3px solid rgba(255,255,255,1);
			}
		}
		.doc-search__msg {
			order: 1;
			flex: 1 1 100%;
			align-self: center;
			margin-bottom: 10px;
			@include media-breakpoint-up(md) {
				align-self: auto;
				margin-bottom: 0;
			}
			&.msg-error {
				@include font-size(0.75);
				color: $color__error;
				margin-top: 3px;
			}
		}
	}
}

.docs-search-results {
	text-align: left;
	margin-top: 35px;
	margin-bottom: 15px;
	&__title {
		margin: 0 0 0.5em; 
		@include font-size(1.125);
	}
	&__link {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: stretch;
		align-items: center;
		padding: 10px 15px;
		border-radius:$border__radius;
		border: 1px solid $color__separator;
		background-color: $color__invert-main;
		@include media-breakpoint-up(md) {
			flex-direction: row;
			flex-wrap: nowrap;
		}
		&-text {
			text-align: center;
			word-break: break-word;
			@include font-size(0.875);
			order: 0;
			flex: 0 1 100%;
			align-self: auto;
			@include media-breakpoint-up(md) {
				flex: 0 1 calc(100% - 120px);
				text-align: left;
			}
		}
	}
	&__actions {
		@include font-size(0.875);
		order: 0;
		flex: 0 1 100%;
		align-self: auto;
		margin-top: 15px;
		@include media-breakpoint-up(md) {
			flex: 0 1 90px;
			margin-top: 0;
		}
		.btn, .button {
			margin: 0 5px 5px;
		}
	}
	&__delimiter {
		height: 16px;
		width: 1px;
		position: relative;
		display: inline-block;
		background-color: $color__separator;
		transform: translateY(3px);
		margin: 0 5px;
	}
}

// Wapu popup
body .wapu-popup {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	background: rgba(0,0,0,.6);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	&.popup-hidden {
		top: auto;
		height: 0;
		opacity: 0;
		transition: opacity 150ms linear;
		.wapu-popup__content {
			opacity: 0;
			transform: translateY(30px);
		}
	}
	&__overlay {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	&__content {
		background: #fff;
		display: inline-block;
		padding: 40px;
		max-width: 100%;
		box-shadow: 0px 5px 21px rgba(0,0,0,0.3);
		border-radius: 5px;
		text-align: center;
		box-sizing: border-box;
		opacity: 1;
		transform: translateY(0);
		transition: all 300ms linear 200ms;
		position: relative;
		z-index: 2;
		max-width: 80%;
		max-height: 70vh;
		overflow: auto;
	}
	background-color: rgba($color__background-footer, 0.8);
	&__content {
		padding: 36px 40px;
		overflow: auto;
		@include media-breakpoint-up(xl) {
			overflow: visible;
		}
		-webkit-box-shadow: 0 10px 89px 5px rgba(80,106,172,0.18);
		box-shadow: 0 10px 89px 5px rgba(80,106,172,0.18);
		.wapu-close {
			position: absolute;
			right: 10px;
			top: 7px;
			width: 30px;
			height: 30px;
			line-height: 0;
			text-align: center;
			cursor: pointer;
			background-color: $button_text_color;
			border: 2px solid $color__link;
			overflow: hidden;
			border-radius: 50%;
			@include transition(all 0.3s ease);
			@include media-breakpoint-up(xl) {
				border: 3px solid $color__link;
				right: -20px;
				top: -18px;
				width: 40px;
				height: 40px;
			}
			&:hover {
				border-color: $color__link-hover;
				i {
					color: $color__link-hover;transform: rotateZ(90deg);
					@include transition(all 0.3s ease);
				}
			}
			i {
				color: $color__link;
				line-height: 26px;
				@include font-size(0.875);
				@include media-breakpoint-up(xl) {
					@include font-size(1);
					line-height: 34px;
				}
				@include transition(all 0.3s ease);
			}
		}
	}
	&__data {
		h5 {
			@include font-size(1.25);
			text-align: left;
			margin-top: 0;
			margin-bottom: 5px;
		}
		a {
			color: $color__link-hover;
			text-decoration: underline;
			&:hover {
				color: $color__link;
			}
		}
	}
}