// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ( $sizeValue * $baseFontSize );
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Mixin nucleo mini icon
@mixin nucleo-icon {
	font-family: 'Nucleo Mini';
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

// Mixin buttons
@mixin btn {
	font-family: $font__headings;
	@include font-size(1);
	line-height: 1;
	display: inline-block;
	max-width: 100%;
	padding: $button__indents;
	@include media-breakpoint-up(md) {
		padding: $button__indents;
	}
	cursor: pointer;
	text-align: center;
	vertical-align: top;
	white-space: normal;
	text-overflow: ellipsis;
	border-radius: $button__radius;
	box-shadow: none;
	border: none;
	color: $button_text_color; 
	background-color: $color__link-hover;
	transition: all 420ms cubic-bezier(0.275, 0.170, 0.145, 0.975);
	.invert & {
		background: $color__link-hover;
		border: 2px solid $color__link-hover;
	}
	&:hover {
		color: white;
		background-color: darken( $color__link-hover, 20% );
		transition: all 340ms cubic-bezier(0.275, 0.170, 0.145, 0.975);
		.invert & {
			background: transparent;
		}
	}
}

@mixin link-btn {
	color: $color__link;
	border: none;
	padding: 0;
	line-height: $font__line-height-body;
	background: transparent;
	&:hover {
		color: $color__link-hover;
		background: transparent;
	}
}

@import "transform";