<div class="cherry-search $$WRAPPER_CLASS$$">
	<form role="search" method="get" class="search-form cherry-search__form $$FORM_CLASS$$" action="$$ACTION$$">
		<div class="cherry-search__label">
			%%INPUT%%
		</div>
		%%CATEGORY_LIST%%
		%%SUBMIT%%
	</form>
	%%RESULTS_LIST%%
	%%INFORMATION%%
</div>