<!--<div class="cherry-search__info">
	 <div class="cherry-search__info-content-primary">$$INFO_CONTENT_PRIMARY$$</div> 
	 <div class="cherry-search__info-content-secondary">$$INFO_CONTENT_SECONDARY$$</div>
</div> -->