<span class="screen-reader-text">$$READER_TEXT$$</span>
<i class="nc-icon-mini ui-1_zoom input-search-icon"></i>
<input type="search" $$INPUT_ID$$ class="search-field cherry-search__field search-form__field" placeholder="$$PLACEHOLDER$$" value="" name="s" autocomplete="off"/>
<input type="hidden" value='$$SETTINGS$$' name="settings" />