.widget {
	margin: 0 0 1.5em;
	.header-area & {
		margin-bottom: 0;
	}
	&-title {
		margin: 1.775px 0 1.4em;
	}
	.footer-area & {
		margin: 0;
		padding: 3.2em 0;
		@include media-breakpoint-up(md) {
			padding: 6.59em 0 6.3em;
		}
	}
	.link_box {
		text-align: center;
		h4 {
			margin-top: 0;
			margin-bottom: 1.16em;
		}
		.btn.btn-primary {
			min-width: 200px;
			margin: 5px 0;
			padding: 16px 20px 19px;
			order: 1;
			flex: 0 1 auto;
			align-self: auto;
			@include media-breakpoint-up(sm) {
				margin: 0 5px;
			}
		}
		div {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: stretch;
			align-items: center;
			@include media-breakpoint-up(sm) {
				flex-direction: row;
			}
		}
	}
	.primary-sidebar-area &,
	.blog-sidebar-area & {
		padding-left: 0;
		@include media-breakpoint-up(md) {
			padding-left: $grid-gutter-width;
		}
		ul, ol {
			margin: 1.5em 0;
			ul, ol {
				margin: 0.2em 0 0.2em 0.7em;
				li {
					margin: 0.2em 0;
				}
			}
		}
	}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	.primary-sidebar-area,
	.blog-sidebar-area {
		padding-left: $grid-gutter-width;
	}
}

/* submit-ticket */
.submit-ticket {
	&__title {
		margin-top: 0;
		margin-bottom: 13px;
	}
	&__content {
		max-width: 100%;
		margin: 0px auto 17px;
		@include media-breakpoint-up(md) {
			max-width: 60%;
			margin: 0px auto 17px;
		}
	}
}
.providers-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	align-items: center;
	color: $color__text-main;
	.providers-list__item-wrap {
		max-width: 185px;
		min-height: 165px;
		margin: 1em;
		text-align: center;
		border: 1px solid $color__separator;
		border-radius: $border__radius;
		a{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-content: space-around;
			align-items: center;
			color: $color__text-main;
			text-decoration: none;
			padding: 20px 9px;
		}
		@include transition(all 0.45s ease);
		span, img {
			order: 0;
			flex: 0 1 auto;
			align-self: auto;
		}
		img {
			margin-bottom: 9px;
		}
		span {
			@include font-size(0.75);
		}
		&:hover {
			border-color: transparent;
			-webkit-box-shadow: 0 10px 59px 0 rgba(80,106,172,0.15);
			box-shadow: 0 10px 59px 0 rgba(80,106,172,0.15);
			@include transition(all 0.32s ease);
		}
	}
	.blurb_description {
		margin: 1.33em 0;
	}
}

//widget-about
.widget-about {
	@include font-size(0.875);
	&__logo {
		margin-top: 7px;
		margin-bottom: 16px;
	}
	&__content {
		p {
			line-height: 23px;
			margin-bottom: 7px;
			color: $color__text-footer;
		}
		.social-menu {
			li {
				margin: 12px 0; 
				a {
					position: relative;
					color: $color__text-footer;
					padding-left: 30px;
					@include font-size(0.875);
					@include transition(all 0.3s ease);
					strong {
						font-weight: normal;
					}
					strong, span, i {
						@include transition(all 0.3s ease);
					}
					i {
						color: $color__invert-main;
						position: absolute;
						left: 0;
						top: 2px;
						@include font-size(1.125);
					}
					&:hover {
						i, span {
							color: $color_icon;
						}
						strong {
							color: $color__invert-main;
						}
					}
				}
			}
		}
	}
}

.footer-main-area {
	.widget-title {
		margin-bottom: 24px;
	}
	.widget_nav_menu {
		ul {
			margin-top: 24px;
			margin-bottom: 19px;
			li {
				margin: 8px 0;
				a {
					color: $color__text-footer;
					@include font-size(0.875);
					&:hover {
						color: $color_icon;
					}
				}
			}
		}
	}
}