a {
	color: $color__link;
	text-decoration: none;
	@include transition(all 0.32s ease);
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		@include transition(all 0.25s ease);
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}