.comment {
	&-respond {
	}
	&-list {
		ol li:before {
			display: none;
		}
	}
	&-reply-title {
		@include media-breakpoint-up(lg) {
			line-height: 1.4;
			margin-bottom: 15px;
		}
	}
	&-form {
		&-comment,
		&-author,
		&-email,
		&-url {
			label {
				font-weight: 600;
				margin-bottom: 3px;
				display: block;
			}
			margin: 0.9em 0 0 0;
			input {
				width: 100%;
			}
		}
		.form-submit {
			margin: 1.5em 0 0 0;
		}
		&__field {
			width: 100%;
			vertical-align: top;
			.comment-list & {
				background-color: #fff;
			}
		}
		.logged-in-as,
		.comment-notes {
			margin: 1em 0;
		}
		.comment-list & {
			padding-bottom: 2em;
		}
		input[type='submit'] {
			border: none;
			@include transition(all 0.3s ease);
		}
	}
}
#cancel-comment-reply-link {
	@include font-size(0.75);
}

