.site-footer {
	background-color: $color__background-footer;
	color: $color__text-footer;
	padding: 1.585em 0 1.729em;
	@include font-size(0.875);
	.footer-conatiner__flex {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		font-size: 12px;
		@include media-breakpoint-up(md) {
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: flex-start;
		}
		.footer-menu, .site-info {
			order: 0;
			flex: 0 1 auto;
			align-self: center;
			@include media-breakpoint-down(sm) {
				margin-top: 15px;
				text-align: center;
			}
		}
		.footer-menu {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			@include media-breakpoint-down(md) {
				justify-content: center;
				align-content: center;
				align-items: center;
			}
		}
		.footer-menu li {
			margin: 0 5px;
			@include media-breakpoint-up(md) {
				margin: 0 0 0 26px;
			}
			a {
				color: $color__link-footer;
				&:hover {
					color: white;
				}
			}
		}
	}
	a {
		color: $color__link-footer;
		&:hover {
			color: white;
		}
	}
	.footer-menu {
		.current-menu-item a {
			color: $color__link-footer;
		}
	}
}
.site-info-wrap {
	display: flex;
	align-items: center;
}
.site-info {
	padding: 0 0 0 20px;
}
.footer-logo {
	img {
		display: block;
	}
}

.footer-area-wrap {
	background-color: $color__background-footer-area-wrap;
	//background-image: url("assets/images/pattern_blue.jpg");
	//background-position: left top;
	//background-repeat: repeat;
}
.footer-main-head-area {
	padding-top: 60px;
	.page-template-themes & {
		padding-top: 50px;
		@include media-breakpoint-down(md) {
			padding-top: 40px;
		}
	}
	.page-template-main & {
		@include media-breakpoint-down(md) {
			padding-top: 40px;
		}
	}
	@include media-breakpoint-up(md) {
		padding-top: 184px;
	}
}
.footer-main-area {
	padding-top: 14px;
	.page-template-themes &,
	.page-template-main & {
		padding-bottom: 24px;
		@include media-breakpoint-down(md) {
			padding-bottom: 28px;
		}
		@include media-breakpoint-down(sm) {
			padding-top: 5px;
		}
	}
	aside:nth-child(3) {
		@include media-breakpoint-down(md) {
			flex: 0 0 100%;
			max-width: 100%;
			padding-top: 10px;
		}

	}
}