.site-header {
	border-bottom: 1px solid $color__separator;
	.page-template-themes &, .page-template-main & {
		border-bottom: none;
	}
	.header-container__flex {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
		margin-right: 0;
		margin-left: 0;
		@include media-breakpoint-down(md) {
			flex-wrap: wrap; 
			justify-content: space-between;
		}
		.site-branding,
		.main-navigation,
		.social-list--header,
		.support-navigation {
			order: 0;
		}

		@include media-breakpoint-down(sm) {
			.social-list--header{
				position: relative;
				&:before {
					position: absolute;
					width: 4000px;
					left: 50%;
					margin-left: -2000px;
					height: 1px;
					content: "";
					background-color: $color__separator;
				}
			}
		}
		@include media-breakpoint-down(md) {
			.site-branding,
			.main-navigation,
			.support-navigation {
				flex: 0 1 auto;
			}
			.main-navigation {
				order: 1;
				flex: 0 1 100%;
				&:before {
					position: absolute;
					width: 100%;
					left: 0;
					height: 1px;
					content: "";
					background-color: $color__separator;
				}
			}
		}
		.site-branding {
			flex: 0 0 auto;
			margin: 0;
			.site-logo {
				border-left: 1px solid $color__separator;
				border-right: 1px solid $color__separator;
				width: auto;
				position: relative;
				display: inline-block;
				padding: 21px 24px 12px;
			}
		}
		.site-description {
			text-align: right;
			color: $color__link;
			text-transform: uppercase;
			line-height: 1;
			font-size: 20px;
			margin: 0 14px 0 0;
			.dept-1 & {
				font-size: 15px;
			}
		}
		.social-list--header {
			flex: 0 0 auto;
			margin: 0;
		}
		.main-navigation {
			flex: 0 1 auto;
			margin: 0;
		}
		.support-navigation {
			flex: 0 1 180px;
			margin: 0;
			@include media-breakpoint-up(lg) {
				margin: 0 0 0 23px;
			}
		}

	}
}
.header-area-wrap {
	background-color: $color__background-pre;
	.page-template-themes & {
		overflow: hidden;
		background-color: $color__background-footer;
	}
}

.page-template-themes aside {
	margin-bottom: 0;
}

.widget-area.header-area {
	padding: 3.8em 0 3.6em;
}