.site-header {
	.header-container__flex {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: space-around;
		align-items: center;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-right: -$grid-gutter-width/2;
		margin-left: -$grid-gutter-width/2;
		.site-branding,
		.main-navigation {
			order: 0;
		}		
		.site-branding {
			flex: 0 1 auto;
			margin: 20px $grid-gutter-width/2 18px; 
			@include media-breakpoint-up(md) {
				flex: 0 1 50%;
			}
			@include media-breakpoint-up(lg) {
				flex: 0 1 30%;
			}
		}
		.main-navigation {
			flex: 1 1 auto;
			margin: 15px $grid-gutter-width/2; 
		}
	}
}
.header-area-wrap {
	background-color: $color__background-pre;
}

.widget-area.header-area {
	padding: 3.8em 0 3.6em;
}