.post {
	/* Video */
	&-type-archive-video-tutorials {
		.wapu-video-item {
			text-align: center;
			margin-bottom: 2.5em;
			@include media-breakpoint-up(md) {
				margin-bottom: 4em;
			}
			.entry-title {
				margin: 0.7em 0 0.2em 0;
			}
			.short_description {
				p {
					margin-bottom: 0;
					@include font-size(0.875);
				}
			}
		}
	}
	/* Faq archive */
	&-type-archive-faq {
		.faq-term {
			margin-bottom: 3em;
		}
		.faq-terms {
			dd {
				margin-bottom: 16px;
			}
			.faq-term__title {
				margin-bottom: 0px;
			}
			.faq-post {
				&__inner {
					ul {
						margin: 5px 0;
						li {
							position: relative;
							padding-left: 18px;
							margin: 8px 0;
							@include font-size(0.875);
							strong {
								font-weight: 600;
							}
							&:before {
								position: absolute;
								content: "";
								width: 7px;
								height: 7px;
								left: 0;
								top: 7px;
								border-radius: 100%;
								background-color: $color__points;
							}
						}
					}
					a {
						color: $color__link-hover;
						&:hover {
							color: $color__link;
						}
					}
					p {
						strong {
							margin-top: 0.85em;
							position: relative;
							display: inline-block;
						}
						img{ 
							margin-top: 15px;
						}
					}
				}
				&__content {
					margin-left: 0;
				}
				&__title {
					@include transition(all 0.3s ease);
					&:hover {
						color: $color__link-hover;
					}
				}
			}
			.faq-posts {
				margin-top: 7px;
				.faq-post__title {
					font-family: $font__headings;
					@include font-size(1);
					font-weight: 600;
				}
				.faq-post__content {
					p {
						@include font-size(0.875);
						margin: 0;
					}
				}
				dt {
					position: relative;
					border-top: 1px solid $color__separator;
					padding: 15px 25px 0 0;
					&:first-child {
						border: none;
					}
					&:after {
						position: absolute;
						right: 0;
						top: 23px;
						display: block;
						@include nucleo-icon();
						content: '\e902';
						@include font-size(0.75);
						@include transition(all 0.3s ease);
					}
					&.faq-active {
						color: $color__link-hover;
						padding: 15px 25px 9px 0;
						@include transition(all 0.15s ease);
						&:after {
							transform: rotate(-180deg);
						}
					}
				}
			}
		}
	}
	&-type-archive-video-tutorials,
	&-type-archive-faq,
	&-type-archive-knowledge-base,
	&-type-archive-how-to {
		.page-title {
			text-align: center;
			margin-top: 0.64em;
		}
	}

}

.single {
	&-video-tutorials,
	&-faq,
	&-knowledge-base,
	&-how-to {
		.entry-content {
			margin-top: 0;
		}
	}
}

/* Knowledge base, How to */
.post-type-archive-knowledge-base,
.post-type-archive-how-to,
.tax-knowledge-base_category,
.tax-how-to_category {
	.wapu-terms, .wapu_posts_wrap {
		.wapu-term, .wapu-post {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: stretch;
			align-items: flex-start;

			&__title {
				margin: .8em 0 1.05em;
				order: 0;
				flex: 0 1 auto;
				align-self: auto;
			}
			.wapu-posts {
				order: 1;
				flex: 0 1 100%;
				align-self: auto;
			}
			&__actions {
				order: 0;
				flex: 0 1 auto;
				align-self: auto;
				margin: 14px 0;
				a {
					@include font-size(0.875);
					color: $color__link-hover;
					text-decoration: underline;
					&:hover {
						color: $color__link;
					}
				}
				@include media-breakpoint-down(sm) {
					margin: 0.8em 0 1.45em;
					order: 2;
				}
			}
		}
		.wapu-posts {
			//margin: 1.05em 0 1.05em; 
			margin: 0 0 35px; 
			@include media-breakpoint-down(sm) {
				margin: 0; 
			}
			list-style: none;
			padding-left: 0;
			position: relative;
			border-radius: $border__radius;
			border: 1px solid $color__border_cherry_search;
			/*li {
				position: relative;
				padding-left: 18px;
				margin: 8px 0;
				a {
					color: $color__link-hover;
					&:hover {
						color: $color__link;
					} 
				}
				&:before {
					position: absolute;
					content: "";
					width: 7px;
					height: 7px;
					left: 0;
					top: 10px;
					border-radius: 100%;
					background-color: $color__points;
				}
				}*/
				li {
					position: relative;
					margin: 0;
					border-top: 1px solid $color__border_cherry_search;
					&:first-child {
						border-top: none;
						a {
							border-top-right-radius: $border__radius;
							border-top-left-radius: $border__radius;
						}
					}
					&:last-child {
						a {
							border-bottom-right-radius: $border__radius;
							border-bottom-left-radius: $border__radius;
						}
					}

					a {
						position: relative;
						display: block;
						width: 100%;
						color: $color__link-hover;
						padding: 7px 8px 10px 36px;
						@include transition(all 0.89s ease);
						&:hover {
							color: $color__link;
							background-color: $color__background-pre;
							@include transition(all 0.35s ease);
						} 
						&:before {
							position: absolute;
							content: "\e928";
							left: 16px;
							top: 16px;
							display: block;
							@include nucleo-icon();
							color: inherit;
							@include font-size(0.625);
						}
					}
				}
			}
		}
	}
	.tax-knowledge-base_category,
	.tax-how-to_category {
		#primary {
			margin-top: 2.6em;
		}
		.wapu-terms, .wapu_posts_wrap {
			.wapu-term, .wapu-post {
				&__title {
					margin: .54em 0;
				}
			}
		}
	}