.sticky {
	display: block;
}

#page {
	overflow: hidden;
}

.page-template-page-boxed {
	.breadcrumbs {
		padding: 30px 0 35px;
		margin-bottom: 15px;
		background: #fff;
	}
	.site-content {
		background: $color__page-bg;
	}
}

.page-template-themes,
.page-template-main {
	.footer-main-area aside {
		margin-bottom: 0;
	}
}

.site-content_wrap {
	margin-bottom: 30px;
	.page-template-main &, .page-template-landing & {
		margin-bottom: 0;
	}
	@include media-breakpoint-up(md) {
		margin-bottom: 60px;
		.page-template-themes & {
			margin-bottom: 3px;
		}
		.page-template-landing & {
			margin-bottom: 0;
		}
		.page-template-main & {
			margin-bottom: 0;
		}
	}
}

.page {
	.entry-title {
		text-align: center;
		margin-top: 1.7em;
		margin-bottom: 0.95em;
	}
}
.blog-banner {
	margin: 0 0 2.3em;
	@include media-breakpoint-up(md) {
		margin: 0 0 3.3em;
	}
}

.search-no-results {
	.page-content {
		margin-bottom: 30px;
	}
	.no-results.not-found {
		padding-bottom: 50px;
		.page-title {
			margin-top: 0;
			margin-bottom: 30px;
		}
	}
}

.single.single-post .entry-title {
	margin-top: 0;
	margin-bottom: 0;
}

h1.entry-title {
	font-size: 28px;
}

.single .entry-content {

	p, ul, ol {
		img {
			-webkit-box-shadow: 0 10px 59px 0 rgba(80,106,172,0.30);
			box-shadow: 0 10px 59px 0 rgba(80,106,172,0.30);
			margin-top: 1.75em;
			margin-bottom: 2.75em;
		}
	}
}
.single .post-thumbnail {
	margin: 1.35em 0 2em;
	img{
		-webkit-box-shadow: 0 10px 59px 0 rgba(80,106,172,0.30);
		box-shadow: 0 10px 59px 0 rgba(80,106,172,0.30);
	}
}

.single .site-main .noshadow {
	box-shadow: none;
}

.single, .blog, .search, .archive {
	#primary, #primary-sidebar, #blog-sidebar {
		margin-top: 2.125em;
		@include media-breakpoint-up(md) {
			margin-top: 4.375em;
		}
	}

	&.post-type-archive-video-tutorials,
	&.post-type-archive-faq,
	&.post-type-archive-knowledge-base,
	&.post-type-archive-how-to {
		#primary {
			margin-top: 2.6em;
		}
	}
}

.search.search-results, .archive.category {
	.page-header .page-title {
		margin-top: 0;
		margin-bottom: 1em;
	}
	.entry-header .entry-title {
		text-align: left;
		margin-bottom: 0;
		a {
			color: $color__link;
			&:hover {
				color: $color__link-hover;
			}
		}
	}
	.entry-summary {
		margin-top: 0.5em;
	}
}


.posted-on .updated:not(.published){
	display: none;
}

.single .posted-by,
.group-blog .posted-by {
	display: block;
	@include media-breakpoint-up(md) {
		display: inline;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	.home & {
		margin: 1.5em 0 0;
		@include media-breakpoint-up(md) {
			margin: 3.8em 0 0;
		}
	}
	.page-template-themes &,
	.home.page-template-themes & {
		margin: 0;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.hentry {
	margin: 0 0 2.7em;
	.blog &, .archive &, .search &, .search-results &, .archive.category & {
		margin: 0 0 2em;
		@include media-breakpoint-up(md) {
			margin: 0 0 3.39em;
		}
	}
	.page-template-landing & {
		margin-bottom: 0;
	}
	a {
		color: $color__link-hover;
		&:hover {
			color: $color__link;
		}
	}
}

.site-main{
	&:after {
		.has_sidebar & {
			width: 1px;
			height: calc(100% - 4.3em);
			content: '';
			position: absolute;
			top: 0;
			right: -$grid-gutter-width/2;
			background: $color__separator;
			display: none;
			@include media-breakpoint-up(md) {
				display: block;
			}
		}
	}
}

.post {
	&__cats {
		text-transform: capitalize;
		font-family: $font__headings;
		font-weight: bold;
		color: $color__link-hover;
		a {
			color: inherit;
			&:hover {
				color: $color__text-main;
			}
		}
		span{
			font-family: $font__main;
			font-weight: normal;
		}
	}
	&__tags {
		font-family: $font__main;
		font-weight: normal;
		a {
			color: $color__link-hover;
			font-weight: normal;
			&:hover {
				color: $color__link;
			}
		}
		span{
			font-family: $font__main;
			font-weight: normal;
		}
	}
}
.entry-meta {
	margin: 1.857em 0 2.714em;
	.single & {
		margin: 1.25em 0;
	}
	a {
		color: $color__link;
		&:hover {
			color: $color__link-hover;
		}
	}
}
.entry {
	&-meta,
	&-footer {
		@include font-size(0.875);
		text-transform: capitalize;
		i {
			margin-right: 9px;
			top: 2px;
			position: relative;
		}
		span {
			position: relative;
			margin-right: 10px;
		}
	}
}

.entry-header {
	.blog &, .search-results &, .archive.category & {
		margin-bottom: 1.438em;
		border-bottom: 1px solid #e7e7f5;
		padding-bottom: 44px;
		figure.post-thumbnail {
			margin: 0 0 0.75em 0; /* Extra wide images within figure tags dont overflow the content area. */
		}
		.content_wrapper {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: stretch;
			align-items: flex-start;
			@include media-breakpoint-down(md) {
				display: block;
			}
		}
		.entry-title {
			margin-top: 0;
			margin-bottom: 0;
			a {
				color: $color__link;
				&:hover {
					color: $color__link-hover;
				}
			}
		}
		.entry-content {
			order: 0;
			flex: 0 1 75%;
			align-self: auto;
			margin-top: 2px;
			p {
				margin-bottom: 0;
			}
		}
		.btn-primary {
			order: 0;
			flex: 0 1 auto;
			align-self: center;
			@include media-breakpoint-down(md) {
				align-self: flex-start;
				margin-top: 0.5em;
			}
		}
		.footer_wrapper {
			order: 1;
			flex: 1 1 auto;
			align-self: auto;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: space-around;
			align-items: baseline;
			@include media-breakpoint-down(md) {
				order: 0;
			}
			@include media-breakpoint-down(xs) {
				display: block;
			}
		}
		.post__cats {
			margin-bottom: 1.35em;
			line-height: 1.625;
		}
		.post__tags {
			display: inline-block;
		}
		.entry-meta {
			margin-top: 1.5em;
			margin-bottom: 0;
		}
	}
}

.blog , .search-results, .archive.category {
	.main__content article:last-child .entry-header {
		border-bottom: none;
		padding-bottom: 0;
	}
}

.entry-footer, .entry-footer-meta {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	@include media-breakpoint-up(lg) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	@include font-size(0.875);
	text-transform: capitalize;

	.share-btns__list {
		order: 0;
		flex: 0 1 auto;
		@include media-breakpoint-up(lg) {
			.blog &, .archive &, .seatrch & {
				flex: 0 1 auto;
			}
		}
		align-self: auto;
	}
}
.post__tags {
	font-size: .875rem;
	i {
		margin-right: 7px;
	}
}

/* 404 */
.error404 {
	.img-404 {
		width: 100%;
		height: 205px;
		margin: 0 auto;
		background: url('assets/images/404_imgsmall.png') no-repeat center center;
		background-size: contain;
		@include media-breakpoint-up(md) {
			width: 100%;
			height: 355px;
			background: url('assets/images/404_img.png') no-repeat 61% center;
		}
	}
	.page-header, .page-content {
		text-align: center;
		.page-title {
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 53px;
		}
	}
	.page-content {
		margin: 0 auto;
		max-width: 100%;
		padding-bottom: 40px;
		@include media-breakpoint-up(md) {
			max-width: 50%;
		}
	}
	.page-header {
		padding: 58px 0 7px;
	}
}

//Coming-soon
.coming-soon {
	height: 100%;
	background: url('assets/images/bg-coming-soon.jpg') no-repeat right bottom;
	background-size: cover;
	margin-top: 0 !important;
	body {
		background: transparent;
		height: 100%;
		text-align: center;
		#page {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 100%;
		}
	}
	.site-content_wrap.container {
		margin-bottom: 0 !important;
	}
	&__content {
		max-width: 600px;
		margin-top: 0 auto;
		h1 {
			font-weight: bold;
			@include font-size(3.125);
			margin-top: 0;
			margin-bottom: 18px;
			@include media-breakpoint-down(sm) {
				@include font-size(1.725);
			}
		}
	}
	&__menu-container {
		margin-top: 66px;
		@include font-size(0.875);
		a {
			margin: 0 3px;
		}
	}
}
