$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #f7f7fb;
$color__background-ins: #fff9c0;
$color__background-footer-area-wrap: #42527b;
$color__background-sub-menu: #42527b;


$color__text-screen: #21759b;
$color__text-input: #42527b;
$color__text-input-focus: $color__text-input;
$color__link: #42527b;
$color__link-visited: $color__link;
$color__link-hover: #00b4ff;
$color__text-main: #42527b;

$color__border-abbr: #666;

$button_text_color: #fff;
$button_pagination-bg: #e3e3f0;
$color_gradient_1: #7389f6;
$color_gradient_2: #00d0ff;

$color__separator: #e8e8f6;

$color__background-footer: #1d2842;
$color__link-footer: #00b4ff;
$color__text-footer: #7d8aa9;

$color_icon: #00b4ff;
$color__points: #d9dce5;

//forms fields
$color__field-background: #f5f7fb;
$color__border-input: $color__separator;

//Shortcodes

$color__info: #37cf82;
$color__error: #fc3448;
$color__warning: #fdc634;
$color__success: #00b4ff;
$color__background-popup: $color__background-footer;

//cherry search
$color__border_cherry_search: #e4e4f1;
$color_icon-search: #00d0ff;

//docs search
$color__error_border_docs: $color__error;
$color__error_bg_docs: #ffe4e4;

// invert color
$color__invert-main: #fff;
$color__background-invert-btn: #6178b1;

// Tooltips
$color__tooltip: #fff;
$color__tooltip-bg: #7a87a7;
