$size__site-main: 100%;
$size__site-sidebar: 25%;

$input__indents: 10px 15px 12px;
$border__radius: 5px;

$pre_indents: 2.063em 3.438em 2.313em;

$button__radius: 5px;
$button__indents: 12px 20px 17px;
$button__indents_sm: 17px 25px;
$button__indents-large: 18px 39px 21px;