$font__main: 'Open Sans', sans-serif;
$font__headings: 'Muli', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: 'Open Sans', sans-serif;
$font__line-height-body: 1.625;
$font__line-height-pre: 1.625;
$baseFontSize: 16px;